{% extends "siteviewer/base.html" %}

{% block title %} 
Flyability Paragliding Forecasts
{% endblock %}

{% block head %}
    {% include "siteviewer/maps_js.inc" %}
{% endblock %}

{% block searchnavstate %}active{% endblock %}

{% block content %}
<div class="searchrow">
    <form class="form-search" id="search-form" method="GET" action="{% url 'search' %}">
        <fieldset>
            <input id="geocomplete" type="text" name="query" 
                value="{{ request.session.query }}"
                class="input-large search-query" 
                placeholder="Enter your city / town" />
            
            <button id="search" type="submit" class="btn">Search</button>
        </fieldset>
    </form>
</div>
<div id="resultsrow">
<div id="results" class="scroll-pane">
</div>
<div id="mapdiv" class="map">
</div>
</div>

{% endblock %}

{% block js %}
    {% include "siteviewer/search_js.inc" %}
{% endblock %}
