{% extends "siteviewer/base.html" %}

{% block title %} 
{% if state %} 
Paragliding Forecasts in {{ state }}, {{ country }}
{% else %} 
Paragliding Forecasts in {{ country }}
{% endif %} 
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<ul class="breadcrumb">
{% if state %} 
    {% url siteviewer.views.country country=country as country_url %}
    <li>
        <a href="{{ country_url }}">{{country}}</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">{{ state }}</li>
{% else %} 
    <li class="active">{{ country }}</li>
{% endif %} 
</ul>
<ul>
    {% for site in sites %}
        {% url siteviewer.views.site country=country as country_url %}
        <li><a href="{{ site_url }}">{{ site.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
