{% extends "siteviewer/base.html" %}

{% block title %} 
    Paragliding Site Forecasts
{% endblock %}

{% block head %}
{% endblock %}

{% block listnavstate %}active{% endblock %}

{% block content %}
<h2>List of U.S. Paragliding Sites</h2>
{% for s in states %}
<a href="#{{ s }}">{{ s }}</a>
{% endfor %}
<ul>
    {% for s in sites %}
        {% if s.name %}
            {% url 'site' s.country s.state s.name as siteurl %}
            <li><a href="{{ siteurl }}">{{ s.name }}</a></li>
        {% else %}
            <h3 id="{{s.state}}">{{ s.state }}</h3>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}
