{% extends "siteviewer/base.html" %}

{% block title %} 
{{site.name}} Paragliding Forecast
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="{% url siteviewer.views.country country=site.country%}">{{site.country}}</a> <span class="divider">/</span></li>
    <li>
        <a href="{% url siteviewer.views.state country=site.country state=site.state %}">{{site.state}}</a> 
        <span class="divider">/</span>
    </li>
    <li class="active">{{site.name}}</li>
</ul>
{% comment %}
<div class="navbar navbar-inverse">
<div class="navbar-inner">
<a class="brand" href="#">Flyability</a>
<ul class="nav">
    <li><a href="#">United States</a></li>
    <li class="divider-vertical textcenter">/</li>
    <li><a href="#">{{site.state}}</a></li>
    <li class="divider-vertical textcenter">/</li>
    <li class="active"><a href="#">{{site.name}}</a></li>
</ul>
</div>
</div>
{% endcomment %}
<div class="bpad row">
    <div class="span3 textcenter">
        Launch Direction
        <img class="img-rounded orient" 
             src="/flyability/wind/dir_-1_{{site.left}}_{{site.right}}_60.png" >
    </div>
    <div class="span3">
        <span class="textcenter" >Further Info</span>
        <ul>
          <li><a href="{{site.website}}">{{site.name}} Website</a></li>
          <li><a href="{{site.pgearthSite}}">{{site.name}} Details on PG Earth</a></li>
        </ul>
    </div>
</div>

<strong> Flyability Report </strong>
(<a rel="popover"
    href=""
    title="What is a Flyability Report?"
    data-content="It's like a weather forecast for paragliding. It shows your hourly chances of a successful takeoff on a scale from 0 to 100. Click on a day to see forecast details."
    >?</a>)

<ul class="nav nav-pills">
    {% for day in days %}
        <li><a href="#{{day.name}}_details" data-toggle="pill" 
                id="{{day.name}}_tab">
            <div class="daypill">
            <p>{{ day.name }}</p>
            <h1>{{ day.flyability|floatformat:0 }}</h1>
            <span id="{{day.name}}_mini" class="miniwrap">Loading...</span>
            </div>
            </a></li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for day in days %}
        <div class="tab-pane daydetails" id="{{day.name}}_details">
            <div class="row">
                <div class="span12" id="{{day.name}}_flyability">Loading...</div>
            </div>
            {% comment %}
            <div class="row">
                <div class="span12" id="{{day.name}}_dir">Loading...</div>
            </div>
            {% endcomment %}
            <div class="row">
                <div class="span12" id="{{day.name}}_wind">Loading...</div>
            {% comment %}
                Cloud Cover (%)
                <div id="{{day.name}}_clouds">Loading...</div>
                Chance of Precipitation
            {% endcomment %}
            </div>
        </div>
    {% endfor %}
</div>

{%comment%}
{%endcomment%}

{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}jquery.sparkline.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}highcharts.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}plotter2.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("a[rel=popover]")
            .popover()
            .click(function(e) {
                e.preventDefault();
            })
    });
    var plotter = new Plotter2();
    plotter.setOptions();
    {% for day in days %}
        plotSummary("{{day.name}}_mini", {{day.scores}});
    {% endfor %}
    //$(window).load(function () {
        {% for day in days %}
            var times = {{day.times|safe}};
            plotter.plotFlyAndPrecip("{{day.name}}_flyability", times, {{day.scores}}, {{day.pop}});
            //plotter.plotWindDir("{{day.name}}_dir", times, {{day.dir}},
            //    {{site.left}}, {{site.right}});
            plotter.plotWind("{{day.name}}_wind", times, {{day.wind}}, 
                             {{day.gust}}, {{day.dir}}, {{site.left}}, 
                             {{site.right}});
            //plotter.plotPrecip("{{day.name}}_precip", times, {{day.pop}});
        {% endfor %}
    //});
</script>
{% endblock %}
