{% extends "siteviewer/base.html" %}

{% block title %} 
{{site.name}} Paragliding Forecast
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h1 class="lpad"> {{site.name}}, {{site.state}} </h1>
<div class="row lpad bpad">
    <div class="span3 textcenter">
        <strong>Takeoff Orientation</strong>
        <img class="img-rounded orient" 
             src="/flyability/wind/dir_0_{{site.left}}_{{site.right}}_80.png" >
    </div>
    <div class="span3">
        <strong class="textcenter" >Further Info</strong>
        <ul>
          <li><a href="{{site.website}}">{{site.name}} Website</a></li>
          <li><a href="{{site.pgearthPage}}">{{site.name}} Details on PG Earth</a></li>
        </ul>
    </div>
</div>

<div class="lpad">
<h1 class="inline"><small> Flyability Report </small></h1>
(<a rel="popover"
    href=""
    title="What is a Flyability Report?"
    data-content="It's like a weather forecast for paragliding. It shows your hourly chances of a successful takeoff on a scale from 0 to 100. Click on a day to see forecast details."
    >Eh?</a>)

<ul class="nav nav-pills">
    {% for day in days %}
        <li><a href="#{{day.name}}_details" data-toggle="pill" 
                id="{{day.name}}_tab">
            <div class="daypill">
            <p>{{ day.name }}</p>
            <h1>{{ day.flyability|floatformat:0 }}</h1>
            <span id="{{day.name}}_mini">Loading...</span>
            </div>
            </a></li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for day in days %}
        <div class="tab-pane" id="{{day.name}}_details">
            <div id="{{day.name}}_flyability">Loading...</div>
            <div id="{{day.name}}_dir">Loading...</div>
            <div id="{{day.name}}_wind">Loading...</div>
        {% comment %}
            Cloud Cover (%)
            <div id="{{day.name}}_clouds">Loading...</div>
            Chance of Precipitation
        {% endcomment %}
            <div id="{{day.name}}_precip">Loading...</div>
        </div>
    {% endfor %}
</div>
</div>

{%comment%}
{%endcomment%}

{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}jquery.sparkline.min.js"></script>
<script src="{{ STATIC_URL }}highcharts.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $("a[rel=popover]")
            .popover()
            .click(function(e) {
                e.preventDefault()
            })
    });
    setOptions();
    var times;
    {% for day in days %}
        times = {{day.times|safe}};
        plotSummary("{{day.name}}_mini", {{day.scores}});
        $('#{{day.name}}_tab').on('shown', function (e) {
            plotFlyability("{{day.name}}_flyability", times, {{day.scores}});
            plotWindDir("{{day.name}}_dir", times, {{day.dir}},
                {{site.left}}, {{site.right}});
            plotWind("{{day.name}}_wind", times, {{day.wind}}, {{day.gust}});
            plotPrecip("{{day.name}}_precip", times, {{day.pop}});
        });
    {% endfor %}
</script>
{% endblock %}
