html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
#results {
    overflow: hidden;
}

.daypill {
    width: 5em;
    color: #444;
    text-align: center;
}

.daylink {
    border-style: solid;
    border-width: 5px;
    -webkit-border-radius: 15px !important;
       -moz-border-radius: 15px !important;
            border-radius: 15px !important;
}

.nomargin {
    margin: 0px !important;
    padding: 0px !important;
}

.daynav {
}

.inline {
    display: inline;
}

.bpad {
    padding-bottom: 2em;
}

.debug {
    background: #0F0;
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-inner {
    -webkit-border-radius: 0px !important;
       -moz-border-radius: 0px !important;
            border-radius: 0px !important;
}

.textcenter {
    text-align: center;
}

.cimg {
    display: block;
    margin: auto;
}

.loading {
    margin: auto;
    width: 10em;
    text-align: center;
}

.bline {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #CCC;
    margin-bottom: 0.5em;
}

.sideimg {
    margin-bottom: 1em;
}

.nav > .active * {
    color: #fff;
}

.miniwrap {
    background: #fff;
    padding: 5px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.rightbar {
    z-index: 980000!important;
    position: fixed;
    right: 0;
    width: 70px;
}

.searchrow {
    padding-top: 1em;
}

.map {
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
}

.map img {
    max-width: none;
}

#results {
    height: 100%;
    overflow: auto;
    width: 20em;
    float: left;
    margin-right: 10px;
}

#results ul {
    list-style: none;
    margin: 0;
}

#results li {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    display: block;
}

.right {
    float: right;
}

.resitem {
    width: 100%;
    padding: 0.5em 0;
}

.prediction {
    display: inline-block;
    text-align: center;
    width: 2em;
    margin: 0.5em 0 0 0;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.input-large {
    width: 400px;
}

.form-search {
    margin: 0 0 1em;
}

.sidebar {
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #CCC;
}

/********************* 
 * Scrollbar styling *
 *********************/

.jspVerticalBar {
    width: 8px;
}

.jspTrack {
    background: #EEE;
}

.jspDrag {
    background: #BBB;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.jspDrag:hover {
    background: #AAA;
}

/*************************
 * End Scrollbar styling *
 *************************/
