.daypill {
    width: 70px;
    color: #444;
    text-align: center;
}

.inline {
    display: inline;
}

.lpad {
    padding-left: 20px;
}

.bpad {
    padding-bottom: 20px;
}

.textcenter {
    text-align: center;
}

.orient {
    display: block;
    margin: auto;
}

.nav > .active * {
    color: #fff;
}

.miniwrap {
    background: #fff;
    padding: 5px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.rightbar {
    z-index: 980000!important;
    position: fixed;
    right: 0;
    width: 70px;
}
