html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
#results {
    overflow: hidden;
}

.site-main {
    margin-top: 1px;
}

.daytab {
    width: 6em;
    color: #333;
    position: relative;
}

.daylink {
}

.daybarback, .daybarfront {
    bottom: 7px;
    left: 0px;
    position: absolute;
    background: #ddd;
    width: 7px;
    height: 44px;
}

.daybarfront {
    background: #4ea54e;
    z-index: 1;
}

.daytextwrap {
    padding-left: 14px;
}

.daycontent {
    border-style: none solid solid;
    border-width: 1px;
    border-color: #ddd;
    position: relative;
}

.daycontent .navbar {
    margin: 7px 214px 7px 7px;
}

.daylink h2, .daylink p {
    margin: 0px;
}

.updated {
    float:right;
    width: 200px;
    height: 39px;
    background: #eef;
    padding-left: 7px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #ddd;
    -webkit-border-radius: 5px 0 0 5px;
       -moz-border-radius: 5px 0 0 5px;
            border-radius: 5px 0 0 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

.dayperc {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    line-height: 35px;
}

.nomargin {
    margin: 0px;
    padding: 0px;
}

.daynav {
    margin-bottom: 0px;
}

.inline {
    display: inline;
}

.bpad {
    padding-bottom: 2em;
}

.debug {
    background: #0F0;
}

.mainnav {
    margin-bottom: 0px;
}

.mainnav-inner {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.textcenter {
    text-align: center;
}

.cimg {
    display: block;
    margin: auto;
}

.loading {
    margin: auto;
    width: 10em;
    text-align: center;
}

.bline {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #CCC;
    margin-bottom: 0.5em;
}

.sideimg {
    margin-bottom: 1em;
}

.miniwrap {
    background: #fff;
    padding: 5px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.rightbar {
    z-index: 980000!important;
    position: fixed;
    right: 0;
    width: 70px;
}

.searchrow {
    padding-top: 1em;
}

.map {
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
}

.map img {
    max-width: none;
}

#results {
    height: 100%;
    overflow: auto;
    width: 20em;
    float: left;
    margin-right: 10px;
}

#results ul {
    list-style: none;
    margin: 0;
}

#results li {
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    display: block;
}

.right {
    float: right;
}

.resitem {
    width: 100%;
    padding: 0.5em 0;
}

.prediction {
    display: inline-block;
    text-align: center;
    width: 2em;
    margin: 0.5em 0 0 0;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.input-large {
    width: 400px;
}

.form-search {
    margin: 0 0 1em;
}

.sidebar {
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #CCC;
}

/********************* 
 * Scrollbar styling *
 *********************/

.jspVerticalBar {
    width: 8px;
}

.jspTrack {
    background: #EEE;
}

.jspDrag {
    background: #BBB;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.jspDrag:hover {
    background: #AAA;
}

/*************************
 * End Scrollbar styling *
 *************************/
